$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;

@mixin alert-style($color) {
  background-color: lighten($color, 40%);
  border: 1px solid lighten($color, 30%);
  color: darken($color, 20%);
  padding: 10px;
}