@use 'test_module1';
@use 'test_module2';
@use 'test_module3';
@use 'test_module4';
@use 'test_module5';

.button {
  @include button-style;
  @include flex-center;
  @include responsive-text;
  max-width: $max-width;
  border-radius: $border-radius;
}