name: Benchmarks

on:
  release:
    types: [published]

  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: benchmark-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.5"

      - name: Install dependencies
        run: composer install --no-progress --no-interaction --prefer-dist --optimize-autoloader

      - name: Run benchmark
        run: php benchmark.php

      - name: Commit and push benchmark results
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add benchmark.md

          if git diff --staged --quiet; then
            exit 0
          fi

          git commit -m "Update benchmark results [skip ci]"
          git push
