name: PHP Tests

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "tests/**"

permissions:
  contents: write

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        php: [8.2, 8.3, 8.4, 8.5]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: ${{ matrix.os == 'ubuntu-latest' && matrix.php == '8.5' && 'xdebug' || 'none' }}

      - name: Install dependencies
        run: composer install

      - name: Run Rector checks
        run: composer run check

      - name: Run tests
        shell: bash
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-latest" ] && [ "${{ matrix.php }}" = "8.5" ]; then
            vendor/bin/pest --colors=always --coverage-clover build/logs/clover.xml
          else
            vendor/bin/pest --colors=always
          fi

      - name: Upload coverage results to Coveralls
        if: matrix.os == 'ubuntu-latest' && matrix.php == '8.5'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer global require php-coveralls/php-coveralls
          php-coveralls --coverage_clover=build/logs/clover.xml -v
